@tailwind base;


@font-face {
  font-family: "Mona Sans";
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url("../fonts//Mona-Sans.var.woff2");
}

.main_video_css
{
	background: url("../videos/Solethics_Website_Hero_Bg.mp4") !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
